Source: xorg-util-macros
Section: host/tools
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>> 7), autoconf, automake
XCS-Cross-Host-Build-Depends: debhelper (>> 7), autoconf, automake
Standards-Version: 3.8.0

Package: xorg-util-macros
Architecture: all
Description: X.org macros utilities for autoconf
 X.org macros utilities used during build.
